@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,500,700,900&display=swap');

$purple: #A14ED9;
$blue: #0A5DA6;
$yellow: #F2B33D;
$orange: #F2A341;
$pink: #F2766B;


canvas {
    // position: absolute;
    margin: auto;
    opacity: 1.0;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // top: 50%;

    // & .incoming {
    //   opacity: 0
    // }



  }

/*
$Venmo-1-hex: #A14ED9;
$Venmo-2-hex: #0A5DA6;
$Venmo-3-hex: #F2B33D;
$Venmo-4-hex: #F2A341;
$Venmo-5-hex: #F2766B;

$Venmo-1-rgba: rgba(161,78,216, 1);
$Venmo-2-rgba: rgba(9,93,165, 1);
$Venmo-3-rgba: rgba(242,178,60, 1);
$Venmo-4-rgba: rgba(242,162,65, 1);
$Venmo-5-rgba: rgba(242,117,106, 1);

$Venmo-1-hsla: hsla(275, 64, 57, 1);
$Venmo-2-hsla: hsla(208, 88, 34, 1);
$Venmo-3-hsla: hsla(39, 87, 59, 1);
$Venmo-4-hsla: hsla(33, 87, 60, 1);
$Venmo-5-hsla: hsla(5, 84, 68, 1);
*/